@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #094546;
  --foreground: #f4ece7;
} */
:root {
  --background: 255, 255, 255;
  --background-secondary: 240, 240, 240;
  --foreground: 0, 0, 0;
  --foreground-secondary: 100, 100, 100;
}

[data-theme='dark'] {
  --background: 0, 0, 0;
  --background-secondary: 10, 10, 20;
  --foreground: 255, 255, 255;
  --foreground-secondary: 200, 200, 200;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #f4ece7;
    --foreground: #094546;
  }
} */

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
